<button
  [class]="buttonClass"
  [innerHTML]="label"
  (click)="open(content)"
></button>

<!--  ********************************************************  -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title">{{ title }}</h6>
    <button
      type="button"
      class="close border-0 bg-white"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true"><i class="fa fa-times"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm">
      <div class="mb-3">
        <label for="facultyName" class="form-label"
          >{{ MODULE_CONFIG.name_capitalize }} Name <code><b>*</b></code></label
        >
        <input
          type="text"
          class="form-control"
          autocomplete="off"
          id="facultyName"
          name="name"
          [ngModel]="data.name"
          required
          placeholder="Enter {{ MODULE_CONFIG.name_capitalize }} Name"
          #facultyName="ngModel"
          minlength="3"
          maxlength="50"
          [class.is-invalid]="facultyName.invalid && facultyName.dirty"
          [class.is-valid]="facultyName.valid"
        />
        <div [class.valid-feedback]="facultyName.valid"
             [class.text-muted]="!(facultyName.invalid && facultyName.dirty) && !facultyName.valid"
             [class.invalid-feedback]="facultyName.invalid && facultyName.dirty">
          {{ MODULE_CONFIG.name_capitalize }} Name required with minimum 3 charters
        </div>
        <ng-container *ngTemplateOutlet="duplicateRecordSearch; context: {value:facultyName.value, name:'Faculty Name', field:'name'}"></ng-container>
      </div>

      <div class="mb-3">
        <label for="facultyEmail" class="form-label"
          >{{ MODULE_CONFIG.name_capitalize }} Email
          <code><b>*</b></code></label
        >
        <input
          type="email"
          class="form-control"
          autocomplete="off"
          id="facultyEmail"
          name="email"
          [ngModel]="data.email"
          required
          placeholder="Enter {{ MODULE_CONFIG.name_capitalize }} Email Address"
          #facultyEmail="ngModel"
          email
          [class.is-invalid]="facultyEmail.invalid && facultyEmail.dirty"
          [class.is-valid]="facultyEmail.valid"
        />
        <div
          [class.valid-feedback]="facultyEmail.valid"
          [class.text-muted]="
            !(facultyEmail.invalid && facultyEmail.dirty) && !facultyEmail.valid
          "
          [class.invalid-feedback]="facultyEmail.invalid && facultyEmail.dirty"
        >
          valid {{ MODULE_CONFIG.name_capitalize }} Email is required
        </div>
        <ng-container *ngTemplateOutlet="duplicateRecordSearch; context: {value:facultyEmail.value, name:'Faculty Email', field:'email'}"></ng-container>
      </div>

      <div class="mb-3">
        <label for="facultyMobile" class="form-label"
          >{{ MODULE_CONFIG.name_capitalize }} Mobile Number
          <code><b>*</b></code></label
        >
        <input
          type="tel"
          prefix="+"
          mask="00 00 000 00 000"
          class="form-control"
          autocomplete="off"
          id="facultyMobile"
          name="mobile"
          [ngModel]="data.mobile"
          required
          placeholder="Enter {{ MODULE_CONFIG.name_capitalize }} Mobile Number"
          #facultyMobile="ngModel"
          [class.is-invalid]="facultyMobile.invalid && facultyMobile.dirty"
          [class.is-valid]="facultyMobile.valid"
        />
        <div
          [class.valid-feedback]="facultyMobile.valid"
          [class.text-muted]="
            !(facultyMobile.invalid && facultyMobile.dirty) &&
            !facultyMobile.valid
          "
          [class.invalid-feedback]="
            facultyMobile.invalid && facultyMobile.dirty
          "
        >
          Provide Valid {{ MODULE_CONFIG.name_capitalize }} Mobile Number with
          Country CODE
        </div>
        <ng-container *ngTemplateOutlet="duplicateRecordSearch; context: {value:facultyMobile.value, name:'Faculty Mobile Number', field:'mobile'}"></ng-container>
      </div>
    </form>
    <!--<pre *ngIf="service.getData() | async as data">{{data | json}}</pre>-->
  </div>
  <div class="modal-footer">
    <button
      type="button"
      [disabled]="form.invalid"
      [class.btn-outline-success]="form.valid"
      [class.btn-outline-danger]="form.invalid"
      class="btn"
      (click)="saveData(c, form.value)"
    >
      {{ title }}
    </button>
  </div>
</ng-template>

<ng-template #duplicateRecordSearch let-value="value" let-name="name" let-field="field" let-isCollapsed="isCollapsed">
  <div class="d-block alert alert-warning mt-2">
    <pre *ngIf="service.getData() | async as records">
      {{records | json}}
    </pre>
    <h6 class="alert-heading" style="cursor: pointer;">
      <i class="fa fa-exclamation-triangle mr-2"></i>
      Duplicate {{name}}!
      <button type="button" class="btn btn-secondary float-end btn-sm" (click)="duplicateAlerts[field] = (!duplicateAlerts[field])">
        <i class="fa fa-folder-o" [class.fa-window-minimize]="!duplicateAlerts[field]" [class.fa-window-maximize]="duplicateAlerts[field]"></i>
      </button>
    </h6>
    <p class="mb-0">2 more {{ MODULE_CONFIG.name_capitalize_plural }} are available with same {{name}} ( <b>{{value}}</b> )</p>
    <div id="collapseBasic" [collapse]="duplicateAlerts[field]" [isAnimated]="true">
      <hr>
      <ul class="list-group">
        <li class="list-group-item bg-transparent">Test 1</li>
        <li class="list-group-item bg-transparent">Test 2</li>
        <li class="list-group-item bg-transparent">Test 3</li>
        <li class="list-group-item bg-transparent">Test 4</li>
        <li class="list-group-item bg-transparent">Test 5</li>
      </ul>
    </div>
  </div>
</ng-template>
