<button class="btn btn-primary" (click)="open(content)">Add Batch</button>

<!--  ********************************************************  -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title">Add New Batch</h6>
    <button
      type="button"
      class="close border-0 bg-white"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm">
      <div class="mb-3">
        <label for="batchName" class="form-label"
          >Batch Name <code><b>*</b></code></label
        >
        <input
          type="text"
          class="form-control"
          autocomplete="off"
          id="batchName"
          name="name"
          ngModel
          required
          placeholder="Enter Batch Name"
          #batchName="ngModel"
          minlength="3"
          maxlength="50"
          [class.is-invalid]="batchName.invalid && batchName.dirty"
          [class.is-valid]="batchName.valid"
        />
        <div
          [class.valid-feedback]="batchName.valid"
          [class.text-muted]="
            !(batchName.invalid && batchName.dirty) && !batchName.valid
          "
          [class.invalid-feedback]="batchName.invalid && batchName.dirty"
        >
          Batch Name required & minimum 3 charters are required
        </div>
      </div>

      <div class="mb-3">
        <label for="batchStartDate" class="form-label"
          >Start Date <code><b>*</b></code></label
        >
        <input
          type="date"
          #batchStartDate="ngModel"
          id="batchStartDate"
          [class.is-invalid]="batchStartDate.invalid && batchStartDate.dirty"
          [class.is-valid]="batchStartDate.valid"
          class="form-control"
          autocomplete="off"
          name="startDate"
          ngModel
          required
        />
        <div
          [class.valid-feedback]="batchStartDate.valid"
          [class.text-muted]="
            !(batchStartDate.invalid && batchStartDate.dirty) &&
            !batchStartDate.valid
          "
          [class.invalid-feedback]="
            batchStartDate.invalid && batchStartDate.dirty
          "
        >
          Select Valid Batch Start Date
        </div>
      </div>

      <div class="mb-3">
        <label for="facultyName" class="form-label"
          >Faculty Name <code><b>*</b></code></label
        >
        <input
          type="text"
          class="form-control"
          autocomplete="off"
          id="facultyName"
          name="facultyName"
          ngModel
          required
          placeholder="Enter Faculty Name"
          #facultyName="ngModel"
          minlength="3"
          [class.is-invalid]="facultyName.invalid && facultyName.dirty"
          [class.is-valid]="facultyName.valid"
        />
        <div
          [class.valid-feedback]="facultyName.valid"
          [class.text-muted]="
            !(facultyName.invalid && facultyName.dirty) && !facultyName.valid
          "
          [class.invalid-feedback]="facultyName.invalid && facultyName.dirty"
        >
          Faculty Name required & minimum 3 charters are required
        </div>
      </div>

      <div class="mb-3">
        <label for="facultyMobile" class="form-label"
          >Faculty Mobile Number <code><b>*</b></code></label
        >
        <input
          type="tel"
          prefix="+"
          mask="00 00 000 00 000"
          class="form-control"
          autocomplete="off"
          id="facultyMobile"
          name="facultyMobile"
          ngModel
          required
          placeholder="Enter Faculty Mobile Number"
          #facultyMobile="ngModel"
          [class.is-invalid]="facultyMobile.invalid && facultyMobile.dirty"
          [class.is-valid]="facultyMobile.valid"
        />
        <div
          [class.valid-feedback]="facultyMobile.valid"
          [class.text-muted]="
            !(facultyMobile.invalid && facultyMobile.dirty) &&
            !facultyMobile.valid
          "
          [class.invalid-feedback]="
            facultyMobile.invalid && facultyMobile.dirty
          "
        >
          Provide Valid Faculty Mobile Number with Country CODE
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label"
          >Description <code><b>*</b></code></label
        >
        <textarea
          type="date"
          class="form-control"
          autocomplete="off"
          id="description"
          name="description"
          ngModel
          required
          placeholder="Enter Description"
          #description="ngModel"
          minlength="3"
          [class.is-invalid]="description.invalid && description.dirty"
          [class.is-valid]="description.valid"
        ></textarea>
        <div
          [class.valid-feedback]="description.valid"
          [class.text-muted]="
            !(description.invalid && description.dirty) && !description.valid
          "
          [class.invalid-feedback]="description.invalid && description.dirty"
        >
          Description required & minimum 3 charters are required
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      [disabled]="form.invalid"
      [class.btn-outline-success]="form.valid"
      [class.btn-outline-danger]="form.invalid"
      class="btn"
      (click)="service.addBatch(form.value); c('Save click')"
    >
      Add New Batch
    </button>
  </div>
</ng-template>
