<button class="btn btn-outline-primary btn-sm" (click)="open(content)">
  Add Student
</button>


<!--  ********************************************************  -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title">Add New Student into {{batch?.name}} batch</h6>
    <button type="button" class="close border-0 bg-white" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form #form="ngForm">

      <div class="mb-3">
        <label for="studentName" class="form-label">Student Name <code><b>*</b></code></label>
        <input type="text"
               class="form-control" autocomplete="off" id="studentName" name="name" ngModel required
               placeholder="Enter Student Name"
               #studentName="ngModel" minlength="3" maxlength="50"
               [class.is-invalid]="studentName.invalid && studentName.dirty"
               [class.is-valid]="studentName.valid"
        >
        <div [class.valid-feedback]="studentName.valid"
             [class.text-muted]="!(studentName.invalid && studentName.dirty) && !studentName.valid"
             [class.invalid-feedback]="studentName.invalid && studentName.dirty">
          Student Name required with minimum 3 charters
        </div>
      </div>

      <div class="mb-3">
        <label for="studentEmail" class="form-label">Student Email <code><b>*</b></code></label>
        <input type="email" class="form-control" autocomplete="off" id="studentEmail"
               name="email" ngModel required placeholder="Enter Student Email Address"
               #studentEmail="ngModel" email
               [class.is-invalid]="studentEmail.invalid && studentEmail.dirty"
               [class.is-valid]="studentEmail.valid"
        >
        <div [class.valid-feedback]="studentEmail.valid"
             [class.text-muted]="!(studentEmail.invalid && studentEmail.dirty) && !studentEmail.valid"
             [class.invalid-feedback]="studentEmail.invalid && studentEmail.dirty">
          valid Student Email is required
        </div>
      </div>

      <div class="mb-3">
        <label for="studentMobile" class="form-label">Student Mobile Number <code><b>*</b></code></label>
        <input type="tel" prefix="+" mask="00 00 000 00 000" class="form-control" autocomplete="off"
               id="studentMobile"
               name="mobile" ngModel required placeholder="Enter Student Mobile Number"
               #studentMobile="ngModel"
               [class.is-invalid]="studentMobile.invalid && studentMobile.dirty"
               [class.is-valid]="studentMobile.valid"
        >
        <div [class.valid-feedback]="studentMobile.valid"
             [class.text-muted]="!(studentMobile.invalid && studentMobile.dirty) && !studentMobile.valid"
             [class.invalid-feedback]="studentMobile.invalid && studentMobile.dirty">
          Provide Valid Student Mobile Number with Country CODE
        </div>
      </div>
    </form>


  </div>
  <div class="modal-footer">
    <button type="button"
            [disabled]="form.invalid"
            [class.btn-outline-success]="form.valid"
            [class.btn-outline-danger]="form.invalid"
            class="btn" (click)="service.addStudent(batch,form.value); c('Save click')">Add New
      Student
    </button>
  </div>
</ng-template>
