<pre class="card card-block card-header mb-3">Model: {{customSelected | json}}</pre>
<input [(ngModel)]="customSelected"
       [typeahead]="statesComplex"
       typeaheadOptionField="name"
       container="body"
       [optionsListTemplate]="customListTemplate"
       class="form-control">

<ng-template #customListTemplate let-matches="matches" let-query="query" let-typeaheadTemplateMethods>
  <ul class="list-group typeahead-container-search-result">
    <li class="list-group-item"
        *ngFor="let match of matches"
        [class.active]="typeaheadTemplateMethods.isActive(match)"
        (click)="typeaheadTemplateMethods.selectMatch(match, $event)"
        (mouseenter)="typeaheadTemplateMethods.selectActive(match)">
      name : {{ match.item.name }}<br>
      region : {{ match.item.region }}
    </li>
  </ul>
</ng-template>
