<button
  [class]="buttonClass"
  [innerHTML]="label"
  (click)="open(content)"
></button>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">{{ title }}</h5>
  </div>
  <div class="modal-body">
    <h6>{{ message }}</h6>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-dark" (click)="c('Save click')">No</button>
    <button class="btn btn-outline-primary" (click)="deleteData(c)">Yes</button>
  </div>
</ng-template>
