<button
  [class]="buttonClass"
  [innerHTML]="label"
  (click)="open(content)"
></button>

<!--  ********************************************************  -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title">{{ title }}</h6>
    <button
      type="button"
      class="close border-0 bg-white"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true"><i class="fa fa-times"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm">
      <div class="mb-3">
        <label for="facultyName" class="form-label"
          >{{ MODULE_CONFIG.name_capitalize }} Name <code><b>*</b></code></label
        >
        <input
          type="text"
          class="form-control"
          autocomplete="off"
          id="facultyName"
          name="name"
          [ngModel]="data.name"
          required
          placeholder="Enter {{ MODULE_CONFIG.name_capitalize }} Name"
          #facultyName="ngModel"
          minlength="3"
          maxlength="50"
          [class.is-invalid]="facultyName.invalid && facultyName.dirty"
          [class.is-valid]="facultyName.valid"
        />
        <div
          [class.valid-feedback]="facultyName.valid"
          [class.text-muted]="
            !(facultyName.invalid && facultyName.dirty) && !facultyName.valid
          "
          [class.invalid-feedback]="facultyName.invalid && facultyName.dirty"
        >
          {{ MODULE_CONFIG.name_capitalize }} Name required with minimum 3
          charters
        </div>
      </div>

      <div class="mb-3">
        <label for="facultyEmail" class="form-label"
          >{{ MODULE_CONFIG.name_capitalize }} Description
          <code><b>*</b></code></label
        >
        <textarea
          type="text"
          class="form-control"
          autocomplete="off"
          id="description"
          name="description"
          [ngModel]="data.description"
          required
          minlength="10"
          maxlength="120"
          placeholder="Enter {{ MODULE_CONFIG.name_capitalize }} Description"
          #description="ngModel"
          [class.is-invalid]="description.invalid && description.dirty"
          [class.is-valid]="description.valid"
        ></textarea>
        <div
          [class.valid-feedback]="description.valid"
          [class.text-muted]="
            !(description.invalid && description.dirty) && !description.valid
          "
          [class.invalid-feedback]="description.invalid && description.dirty"
        >
          valid {{ MODULE_CONFIG.name_capitalize }} Description is required with
          minimum 10 charters
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      [disabled]="form.invalid"
      [class.btn-outline-success]="form.valid"
      [class.btn-outline-danger]="form.invalid"
      class="btn"
      (click)="saveData(c, form.value)"
    >
      {{ title }}
    </button>
  </div>
</ng-template>
